<mat-card>
  <mat-card-content>
    <table>
      <tr *ngFor="let invoice of invoices  | paginate : {itemsPerPage: 20, currentPage: p}">
        <td>{{invoice.name}}</td>
        <td>{{invoice.crush}}</td>
        <td>{{invoice.num}}</td>
        <td>{{invoice.date}}</td>
        <td>{{invoice.para}}</td>
        <td>{{invoice.id}}</td>
      </tr>
    </table>
    <mat-row *ngFor="let sorter of sorterStrings">
      <mat-radio-group>
        <title>Sort by</title>
        <mat-radio-button *ngFor="let sort of sorterStrings" (click)="applySort(sorter)">
          {{sorter}}
        </mat-radio-button>
      </mat-radio-group>
    </mat-row>
  </mat-card-content>
</mat-card>
